{% extends "management_service/base.html" %}
{% load blog_tags %}

{% block content %}

    <h1 class="pb-4 text-center">Страничка блога</h1>
    <button type="button" class="w-30 btn btn-lg btn-outline-primary text-center"><a href="{% url 'blog:article_create' %}" class="nav-link px-2">Создать статью</a></button>
    <h2></h2>
    <h1 class="pb-4 text-center">Случайные статьи</h1>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for article in object_list %}
          <div class="col-md-12">
            <div class="card mb-4 rounded-3 shadow-sm ">
              <div class="card-header py-3">
                <h5 class="my-0 fw-normal">{{ 'Дата публикации:'}} {{ article.date_of_publication }} {{ 'Количество просмотров:'}} {{ article.number_of_views }}</h5>
              </div>
              <div class="card-body">
                <h2 class="card-title pricing-card-title">{{ article.title }}</h2>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>{{ article.content|truncatechars:400 }}</li>
                </ul>
                <button type="button" class="w-30 btn btn-lg btn-outline-primary"><a href="article_view/{{ article.pk }}" class="nav-link px-2">Читать</a></button>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>


{% endblock %}